.center-element {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.todo-list-container {
    width: 50%;
    min-height: 200px;
    max-height: 700px;
    overflow: auto;
    background: rgb(116, 17, 74);
    margin-top: 5%;
    padding-bottom: 20px
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.todo {
    width: 95%;
    background: white;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.todo-text {
    display: inline-block;
    word-break: break-all;
    width: 60%
}

.btn {
    float: right;
    padding: 3px 7px;
    outline: none;
    border: none;
    background: none;
    border-radius: 3px;
    font-weight: 500;
    color: white;
    margin-left: 3px
}

.mark-complete-btn {
    background: rgb(24, 233, 129)
}

.mark-complete-btn:hover {
    background: rgb(40, 189, 115)
}

.close-btn {
    background: rgb(233, 120, 100);
}

.close-btn:hover {
    background: rgb(228, 90, 66);
}

.edit-btn {
    background: dodgerblue;
}

.edit-btn:hover {
    background: rgb(2, 107, 212);
}

.add-todo-form {
    width: 70%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px
}

.input {
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
}

.todo .input {
    border-bottom: 1px solid #999
}

.input-todoText {
    width: 60%
}

.add-todo-form .input {
    width: 80%;
    color: white
}

.add-todo-form .btn-submit {
    font-size: 16px;
    width:20%;
    padding: 8px 10px;
    background: yellowgreen;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .todo-list-container {
        width: 80%
    }

    .todo-text {
        width: 100%
    }

    .input-todoText {
        width: 100%
    }

    .btn {
        display: inline-block;
        float: none;
    }

    .add-todo-form {
        width: 100%
    }

    .add-todo-form .btn-submit {
        width: 20%;
        font-size: 12px
    }
}